:root{
  --bg:#f6f8fc;
  --dark:#0b1220;
  --primary:#4f46e5;
  --success:#22c55e;
  --danger:#ef4444;
  --card:#ffffff;
  --border:#e5e7eb;
}

*{
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  margin:0;
  background:var(--bg);
}

/* NAVBAR */
nav{
  background:var(--dark);
  color:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:14px 32px;
}

nav ul{
  list-style:none;
  display:flex;
  gap:24px;
}

nav li{
  cursor:pointer;
  color:#c7d2fe;
}

nav li:hover{color:white}

.btn-start{
  background:white;
  color:var(--dark);
  padding:8px 16px;
  border-radius:20px;
  font-weight:600;
  cursor:pointer;
}

/* HERO */
.hero{
  background:radial-gradient(circle at top,#1e3a8a,#020617);
  padding:60px 40px;
  color:white;
}

.hero-box{
  max-width:1100px;
  margin:auto;
  background:#020617;
  border-radius:24px;
  padding:30px;
}

.hero-title{text-align:center;font-size:36px}
.hero-sub{text-align:center;color:#c7d2fe}

/* DASHBOARD */
.dashboard{
  display:grid;
  grid-template-columns:280px 1fr;
  gap:24px;
}

/* SIDEBAR */
.sidebar{
  background:#020617;
  border-radius:20px;
  padding:20px;
}

.user-card{
  margin-bottom:20px;
}

.menu a{
  display:block;
  padding:12px;
  border-radius:12px;
  color:#c7d2fe;
  cursor:pointer;
}

.menu a.active,
.menu a:hover{
  background:#1e293b;
  color:white;
}

/* MAIN */
.main{
  background:var(--card);
  border-radius:20px;
  padding:24px;
  color:black;
}

.status span{
  background:var(--success);
  color:white;
  padding:6px 14px;
  border-radius:20px;
}

/* CARDS */
.grid{
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:20px;
}

.card{
  background:white;
  border:1px solid var(--border);
  border-radius:18px;
  padding:18px;
}

#map{
  height:360px;
  border-radius:14px;
}

/* BUTTONS */
button{
  border:none;
  padding:14px;
  border-radius:14px;
  font-weight:600;
  cursor:pointer;
}

.btn-move{background:var(--primary);color:white}
.btn-zone{background:var(--success);color:white}
.btn-alert{background:var(--danger);color:white}

.hidden{display:none}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.6);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.modal-content{
  background:white;
  padding:26px;
  border-radius:20px;
  width:380px;
  text-align:center;
}
